.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
#*
test/gen-nodejs
test/node_modules
test/test_service_thrift.erl
test/test_service_thrift.hrl
test/test_constants.hrl
test/test_types.hrl
test/test_types.erl
